<%layout('./layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <%campground.forEach((c)=>{%>
    <form action="/campgrounds/<%=c._id%>?_method=PUT" method="post" class="needs-validation" novalidate>
      <div class="mb-3">
        <label class="form-label" for="campground[title]"> Title: </label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          value="<%=c.title%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[location]"> Location: </label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          value="<%=c.location%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[image]"> Image Url: </label>
        <input
          class="form-control"
          type="text"
          name="campground[image]"
          id="image"
          value="<%=c.image%>"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[description]"> Description: </label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          required
        >
<%=c.description%></textarea
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="campground[price]"> Campground Price: </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            name="campground[price]"
            class="form-control"
            id="price"
            placeholder="0"
            aria-label="price"
            aria-describedby="price-label"
            value="<%=c.price%>"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-info" type="submit">Save Edits</button>
      </div>
      <div class="mb-3">
        <a href="/campgrounds/<%=c._id%>">Back to Campground</a>
      </div>
    </form>

    <%});%>
  </div>
</div>



