<%layout('./layouts/boilerplate')%> 

<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%=camp.image%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=camp.title%></h5>
        <p class="card-text"><%=camp.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: <%=camp.location%></li>
        <li class="list-group-item">Price: $<%=camp.price%>/night</li>
          <li class="list-group-item">Author: <b><%=camp.author.username%></b></li>
      </ul>
      <%if (currentUser && camp.author.equals(currentUser._id)){%>
      <div class="card-body">
        <a href="/campgrounds/<%=camp._id%>/edit" class="card-link btn btn-info"
          >Edit Campground</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%=camp._id%>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger" type="submit">
            Delete Campground
          </button>
        </form>
      </div>
      <%}%>
    </div>
  </div>
  <div class="col-6">
    <%if(currentUser){%>
    <h2>Leave a review: </h2> 
    
    <form class="mb-3 needs-validation" action="/campgrounds/<%=camp._id%>/reviews" method="post" novalidate>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" class="form-range" name="review[rating]" min="0" max="5" id="customRange2"> 
      </div>
      <div class="mb-3">
        <label for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="review" cols="10" rows="5" required></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">Add Review</button>
      </div>
    </form>
    <%}%>
    <h3>Total Reviews: <%=count%></h3>
    <% for(let r of camp.reviews){ %>
     <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%=r.rating%>/5 </h5>
        <h6 class="card-subtitle mb-2 text-muted">
         by: <%=r.author.username%>
        </h6>
        <p class="card-text">Review: <%=r.body%></p>
        <%if (currentUser && r.author.equals(currentUser._id)){%>
          <form action="/campgrounds/<%=camp._id%>/reviews/<%=r._id%>?_method=DELETE" method="post"><button class="btn btn-danger" type="submit">Delete review</button></form>
        <%}%>
        </div>
     </div>
   <% }%>

  </div>
</div>


