<%layout('./layouts/boilerplate')%> <%camp.forEach((c)=>{%>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img src="<%=c.image%>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><%=c.title%></h5>
        <p class="card-text"><%=c.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: <%=c.location%></li>
        <li class="list-group-item">Price: $<%=c.price%>/night</li>
        <li class="list-group-item">Total Reviews:
          <b><%=count%></b></li>
      </ul>
      <div class="card-body">
        <a href="/campgrounds/<%=c._id%>/edit" class="card-link btn btn-info"
          >Edit Campground</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%=c._id%>?_method=DELETE"
          method="post"
        >
          <button class="btn btn-danger" type="submit">
            Delete Campground
          </button>
        </form>
      </div>
    </div>
    <h2>Leave a review: </h2>
    <form class="mb-3 needs-validation" action="/campgrounds/<%=c._id%>/reviews" method="post" novalidate>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" class="form-range" name="review[rating]" min="0" max="5" id="customRange2"> 
      </div>
      <div class="mb-3">
        <label for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="review" cols="10" rows="5" required></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success" type="submit">Add Review</button>
      </div>
    </form>
  </div>
</div>

<%})%>
